[submodule "carambola"]
	path = carambola
	url = https://github.com/8devices/carambola
[submodule "libemb"]
	path = libemb
	url = git@github.com:wendlers/libemb.git
[submodule "mongoose-cpp"]
	path = mongoose-cpp
	url = https://github.com/Gregwar/mongoose-cpp.git
